<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sayproject.model.Main.MapperXML.LoginMapper">
	
	
	<!--카카오login info id,email-->
	<select id="kakaoLoginInfo" parameterType="com.sayproject.model.Main.KakaoLogin.KakaoInfo" resultType="com.sayproject.model.Main.KakaoLogin.KakaoInfo">
		
		select id, email from kakao_login where id=#{id} and email=#{email}
		
	</select>
</mapper>